<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent"
            style="margin-left: 100px;justify-content: space-around;">
            <div class="d-flex align-items-center" style="display: flex; align-items: center;">
                <a [routerLink]="['/']" class="d-flex align-items-center text-decoration-none"
                    style="display: flex; align-items: center; text-decoration: none;">
                    <img src="../../../assets/img/logos/booking.png" alt="phoenix"
                        style="width: 50px; height: 50px; object-fit: contain;">
                    <h5 class="logo-text ms-2 d-none d-sm-block"
                        style="font-size: 1.25rem; color: #333; margin-left: 8px;">
                        BookingTour</h5>
                </a>
            </div>
            <div class="d-flex" style="margin-left: 400px;">
                <ng-container *ngIf="user===undefined;else showLogout">
                    <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
                </ng-container>
                <ng-template #showLogout>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown pe-3"
                            style="display: flex; align-items: center;margin-right: 100px;">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="../../../assets/img/team/76.webp" alt="avatar"
                                    style="width: 50px; border-radius: 50%;">
                            </a>
                            <ul class="dropdown-menu">
                                <li class="mt-2" style="cursor: pointer;"><span [routerLink]="['/admin-tour']"
                                        class="dropdown-item">{{user?.email}}</span></li>
                                <li class="mt-2" style="cursor: pointer;"><span [routerLink]="['/profile']"
                                        class="dropdown-item">Profile</span>
                                </li>
                                <li class="mt-2" style="cursor: pointer;"><span [routerLink]="['/changepass']"
                                        class="dropdown-item">Change
                                        Password</span></li>
                                <li class="mt-2" style="cursor: pointer;"><a class="dropdown-item"
                                        (click)="onLogout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
    </div>
</nav>