<main class="main" id="top">
    <section class="py-0">
        <div class="bg-holder overlay bg-opacity-50"
            style="background-image:url(../../../assets/img/bg/46.png);background-position: center; background-size: cover;">
        </div>
        <!--/.bg-holder-->
        <div class="container-medium position-relative pt-11 pb-15">
            <div
                class="row gx-0 gy-3 gy-md-0 align-items-center mx-auto p-3 bg-body-emphasis rounded-5 rounded-md-pill position-relative border w-lg-75">
                <form (ngSubmit)="onSearch()" #searchForm="ngForm" class="d-flex w-100">
                    <div class="col-12 col-md" style="margin: auto;">
                        <div
                            class="form-icon-container border-bottom border-bottom-md-0 border-translucent pb-3 pb-md-0">
                            <input class="form-control form-icon-input border-0 py-0 shadow-none fs-8" type="text"
                                name="place" [(ngModel)]="searchData.place" placeholder="Pick a place" required />
                            <span class="fa-solid fa-map-marker-alt form-icon text-body-tertiary top-0"
                                data-fa-transform="down-2"></span>
                        </div>
                    </div>
                    <div class="col-6 col-md" style="margin: auto;">
                        <div class="form-icon-container flatpickr-input-container"><input
                                class="form-control date-picker form-icon-input border-y-0 border-start-0 border-start-md py-0 shadow-none border-translucent fs-8 rounded-0"
                                type="text" placeholder="Pick a date" name="date" [(ngModel)]="searchData.date" /><span
                                class="fa-solid fa-calendar form-icon top-0 text-body-tertiary"
                                data-fa-transform="down-2"></span>
                        </div>

                    </div>
                    <div class="col-12 col-md-auto">
                        <button [disabled]="!searchForm.valid" type="submit"
                            class="btn btn-lg btn-phoenix-primary rounded-pill w-100">
                            <span class="fa-solid fa-search me-2"></span>Search
                        </button>
                    </div>
                </form>
            </div>

            <div class="d-flex justify-content-start mt-10">
                <div *ngFor="let cate of categories" class="d-none d-lg-flex gap-2">
                    <button class="btn btn-phoenix-secondary text-nowrap px-3 ms-1 fw-medium "
                        (click)="loadToursByCategory(cate.name)" [ngClass]="{'text-primary': this.name === cate.name}">
                        {{cate.name}}
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-0 pb-9 mt-n13">
        <div class="container-medium">
            <div class="row g-3">

                <div *ngFor="let tour of tours?.items" class="col-md-6 col-xl-4">
                    <div class="hoverbox rounded">

                        <a [routerLink]="['/tour-detail', tour.tour.tourId]">

                            <img class="img-fluid" src="../../../assets/img/trip/1.png" alt="" />
                            <div class="backdrop-faded">
                                <h3 class="text-underline fs-7 fs-lg-6 text-white fw-bold mb-2">{{tour.tour.tourName}}
                                </h3>
                                <h5 class="text-secondary-lighter fw-normal mb-3"><span
                                        class="fa-solid fa-map-marker-alt text-primary me-2"></span>{{tour.tour.city}} -
                                    {{tour.tour.country}}</h5>
                                <div class="d-sm-flex d-md-block d-lg-flex flex-between-center">
                                    <h6 class="text-white fw-bold mb-3 mb-sm-0 mb-md-3 mb-lg-0 fs-7 fs-lg-6">
                                        {{tour.tour.price | number}}
                                    </h6>
                                    <div class="d-flex gap-3">
                                        <h5 class="text-secondary-lighter fw-normal"> <span
                                                class="fa-solid fa-clock fs-9 me-2"></span>3 days</h5>
                                        <h5 class="text-secondary-lighter fw-normal"> <span
                                                class="fa-solid fa-user fs-9 me-2"></span>From 1 to people</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mt-5 position-relative text-center">
                <hr class="m-0 position-absolute top-50 translate-middle-y w-100">
                <button class="btn btn-phoenix-secondary rounded-pill position-relative" (click)="showMore(this.name)">
                    Show more
                </button>
            </div>
        </div><!-- end of .container-->
    </section><!-- <section> close ============================-->


</main><!-- ===============================================-->
<!--    End of Main Content-->
<!-- <section> begin ============================-->
<section class="pb-7 pt-0">
    <div class="container-medium">
        <div class="text-center mb-5">
            <h3 class="mb-2 text-body-emphasis">Latest photos from tourists</h3>
            <p class="mb-0 text-body-tertiary">See how our tourists enjoyed their trip from images captured by them with
                Team Phoenix!</p>
        </div>
        <div class="row g-3">
            <div *ngFor="let item of toursRandom" class="col-md-6 col-xl-4">
                <div class="img-zoom-hover rounded-3 overflow-hidden position-relative"><a
                        [routerLink]="['/tour-detail',item.tour.tourId]"><img class="latest-img w-100 object-fit-cover"
                            src="../../assets/img/gallery/51.png" alt="" /></a>
                    <div class="backdrop-faded"><a class="fw-semibold mb-0 text-secondary-lighter stretched-link"
                            [routerLink]="['/tour-detail',item.tour.tourId]"><span
                                class="fa-solid fa-location-dot text-secondary-lighter me-2"></span>
                            {{item.tour.city}} - {{item.tour.country}}</a></div>
                </div>
            </div>
        </div>
    </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->


<!-- ===============================================-->
<section class="pb-10 pt-0">
    <div class="bg-holder d-none d-md-block"
        style="background-image:url(../../assets/img/bg/bg-left-28.png);background-size:7%;background-position:left 27%;">
    </div>
    <!--/.bg-holder-->
    <div class="bg-holder d-none d-md-block"
        style="background-image:url(../../assets/img/bg/bg-right-28.png);background-size:16%;background-position:right -25px;">
    </div>
    <!--/.bg-holder-->
    <div class="container-medium text-center mb-11 position-relative">
        <h3 class="mb-2 text-body-emphasis">Travel more, spend less</h3>
        <p class="text-body-tertiary mb-0">Working with Phoenix means you’ll have all the plans and the perfect price
            list to help you plan.</p>
    </div>
    <div class="container-fluid px-sm-0">
        <div class="swiper-theme-container swiper-slide-nav-top">
            <div class="swiper-nav">
                <div class="swiper-button-next"><span class="fas fa-chevron-right text-primary"
                        data-fa-transform="shrink-3"></span></div>
                <div class="swiper-button-prev"><span class="fas fa-chevron-left text-primary"
                        data-fa-transform="shrink-3"></span></div>
            </div>
            <div class="swiper theme-slider"
                data-swiper='{"loop":true,"centeredSlides":true,"autoplay":true,"centeredSlidesBounds":true,"spaceBetween":16,"slidesPerView":1,"speed":1500,"breakpoints":{"576":{"slidesPerView":"auto"}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block"
                            href="#!"><img class="w-100 w-sm-auto object-fit-cover"
                                src="../../assets/img/gallery/39.png" alt="" height="220" />
                            <div class="img-backdrop-faded">
                                <div class="image-reveal-content mb-3">
                                    <div class="d-flex align-items-center gap-2 mb-2"><span
                                            class="fa-solid fa-hotel text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">17 Hotels</h6>
                                    </div>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="fa-solid fa-tree-city text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">22 Tour Package</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2"><img
                                        src="../../assets/img/country/thailand.png" alt="" />
                                    <h4 class="mb-0 text-white">Thailand</h4>
                                </div>
                            </div>
                        </a></div>
                    <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block"
                            href="#!"><img class="w-100 w-sm-auto object-fit-cover"
                                src="../../assets/img/gallery/40.png" alt="" height="220" />
                            <div class="img-backdrop-faded">
                                <div class="image-reveal-content mb-3">
                                    <div class="d-flex align-items-center gap-2 mb-2"><span
                                            class="fa-solid fa-hotel text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">15 Hotels</h6>
                                    </div>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="fa-solid fa-tree-city text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">24 Tour Package</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2"><img
                                        src="../../assets/img/country/switzerland.png" alt="" />
                                    <h4 class="mb-0 text-white">Switzerland</h4>
                                </div>
                            </div>
                        </a></div>
                    <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block"
                            href="#!"><img class="w-100 w-sm-auto object-fit-cover"
                                src="../../assets/img/gallery/42.png" alt="" height="220" />
                            <div class="img-backdrop-faded">
                                <div class="image-reveal-content mb-3">
                                    <div class="d-flex align-items-center gap-2 mb-2"><span
                                            class="fa-solid fa-hotel text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">44 Hotels</h6>
                                    </div>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="fa-solid fa-tree-city text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">123 Tour Package</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2"><img
                                        src="../../assets/img/country/turkey.png" alt="" />
                                    <h4 class="mb-0 text-white">Turkey</h4>
                                </div>
                            </div>
                        </a></div>
                    <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block"
                            href="#!"><img class="w-100 w-sm-auto object-fit-cover"
                                src="../../assets/img/gallery/41.png" alt="" height="220" />
                            <div class="img-backdrop-faded">
                                <div class="image-reveal-content mb-3">
                                    <div class="d-flex align-items-center gap-2 mb-2"><span
                                            class="fa-solid fa-hotel text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">55 Hotels</h6>
                                    </div>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="fa-solid fa-tree-city text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">41 Tour Package</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2"><img
                                        src="../../assets/img/country/new-zealand.png" alt="" />
                                    <h4 class="mb-0 text-white">New Zealand</h4>
                                </div>
                            </div>
                        </a></div>
                    <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block"
                            href="#!"><img class="w-100 w-sm-auto object-fit-cover"
                                src="../../assets/img/gallery/43.png" alt="" height="220" />
                            <div class="img-backdrop-faded">
                                <div class="image-reveal-content mb-3">
                                    <div class="d-flex align-items-center gap-2 mb-2"><span
                                            class="fa-solid fa-hotel text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">17 Hotels</h6>
                                    </div>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="fa-solid fa-tree-city text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">22 Tour Package</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2"><img
                                        src="../../assets/img/country/sweden.png" alt="" />
                                    <h4 class="mb-0 text-white">Sweden</h4>
                                </div>
                            </div>
                        </a></div>
                    <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block"
                            href="#!"><img class="w-100 w-sm-auto object-fit-cover"
                                src="../../assets/img/gallery/44.png" alt="" height="220" />
                            <div class="img-backdrop-faded">
                                <div class="image-reveal-content mb-3">
                                    <div class="d-flex align-items-center gap-2 mb-2"><span
                                            class="fa-solid fa-hotel text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">44 Hotels</h6>
                                    </div>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="fa-solid fa-tree-city text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">123 Tour Package</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2"><img
                                        src="../../assets/img/country/turkey.png" alt="" />
                                    <h4 class="mb-0 text-white">Turkey</h4>
                                </div>
                            </div>
                        </a></div>
                    <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block"
                            href="#!"><img class="w-100 w-sm-auto object-fit-cover"
                                src="../../assets/img/gallery/58.png" alt="" height="220" />
                            <div class="img-backdrop-faded">
                                <div class="image-reveal-content mb-3">
                                    <div class="d-flex align-items-center gap-2 mb-2"><span
                                            class="fa-solid fa-hotel text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">54 Hotels</h6>
                                    </div>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="fa-solid fa-tree-city text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">123 Tour Package</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2"><img
                                        src="../../assets/img/country/vietnam.png" alt="" />
                                    <h4 class="mb-0 text-white">Vietnam</h4>
                                </div>
                            </div>
                        </a></div>
                    <div class="swiper-slide w-sm-auto"><a class="position-relative rounded-3 overflow-hidden d-block"
                            href="#!"><img class="w-100 w-sm-auto object-fit-cover"
                                src="../../assets/img/gallery/57.png" alt="" height="220" />
                            <div class="img-backdrop-faded">
                                <div class="image-reveal-content mb-3">
                                    <div class="d-flex align-items-center gap-2 mb-2"><span
                                            class="fa-solid fa-hotel text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">17 Hotels</h6>
                                    </div>
                                    <div class="d-flex align-items-center gap-2"><span
                                            class="fa-solid fa-tree-city text-secondary-lighter"></span>
                                        <h6 class="mb-0 text-secondary-lighter fw-semibold">22 Tour Package</h6>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center gap-2"><img
                                        src="../../assets/img/country/japan.png" alt="" />
                                    <h4 class="mb-0 text-white">Japan</h4>
                                </div>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</section>