<!-- <section> begin ============================-->
<section class="py-6">
    <div class="container-medium">
        <div class="bg-holder overlay bg-opacity-75"
            style="background-image:url(../../../assets/img/bg/47.png);background-position: center; background-size: cover;">
        </div>
        <!--/.bg-holder-->
        <div class="row position-relative align-items-center gy-3">
            <div class="col-xxl-4 order-1 order-xxl-0">
                <ul
                    class="list-unstyled d-flex gap-3 gap-xxl-4 flex-wrap mb-0 justify-content-center justify-content-xxl-start">
                    <li><a class="text-secondary-lighter" href="#!">Home</a></li>
                    <li><a class="text-secondary-lighter" href="#!">Terms</a></li>
                    <li><a class="text-secondary-lighter" href="#!">Talent &amp; culture</a></li>
                    <li><a class="text-secondary-lighter" href="#!">Destination</a></li>
                </ul>
            </div>
            <div class="col-sm-8 col-md-7 col-lg-5 col-xl-4 mx-auto mb-3 mb-xxl-0">
                <h2 class="mb-4 fw-semibold text-white text-center lh-sm">Subscribe to get notified about the latest
                    news</h2>
                <div class="d-flex gap-2">
                    <div class="form-icon-container flex-1"><input class="form-control form-icon-input" type="text"
                            placeholder="Your email address" /><span
                            class="fa-solid fa-envelope form-icon text-body fs-9"></span></div><button
                        class="btn btn-primary rounded">Sign up</button>
                </div>
            </div>
            <div class="col-xxl-4 order-2 order-xxl-0">
                <ul
                    class="list-unstyled d-flex gap-3 gap-xxl-4 flex-wrap mb-0 justify-content-center justify-content-xxl-end">
                    <li><a class="text-secondary-lighter" href="#!">Refund policy</a></li>
                    <li><a class="text-secondary-lighter" href="#!">Sitemap</a></li>
                    <li><a class="text-secondary-lighter" href="#!">EMI Policy</a></li>
                    <li><a class="text-secondary-lighter" href="#!">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->

<footer class="footer position-relative">
    <div class="row g-0 justify-content-between align-items-center h-100">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span
                    class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br
                    class="d-sm-none" />2024 &copy;<a class="mx-1" href="https://themewagon.com/">Themewagon</a></p>
        </div>
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-body-tertiary text-opacity-85">v1.19.0</p>
        </div>
    </div>
</footer>