<div class="content">
  <nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="http://localhost:4200/">Home</a></li>
      <li class="breadcrumb-item">
        <a href="http://localhost:4200/admin-tour">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">List Tour</li>
    </ol>
  </nav>
  <div class="mb-7">
    <h2>Tour Listing</h2>
    <div
      data-list='{"valueNames":["name","beds","guest","bathRooms","amenities","totalRooms"],"page":8}'
    >
      <div class="d-md-flex mt-5 mb-4">
        <button class="btn btn-primary me-4" [routerLink]="['/admin-addtour']">
          <span class="fas fa-plus me-2"></span>Create
        </button>
        <button class="btn btn-primary me-4" (click)="filterTours(true)">
          <span class="fas fa-border-all me-2"></span>
          Public Tour
        </button>
        <button
          class="btn btn-phoenix-secondary me-4"
          (click)="filterTours(false)"
        >
          <span class="fas fa-border-all me-2"></span>
          Deleted Tour
        </button>
        <div class="d-flex gap-2 ms-md-auto mt-3 mt-md-0">
          <div class="search-box">
            <form
              class="position-relative"
              (submit)="searchTours(currentStatus); $event.preventDefault()"
            >
              <input
                [(ngModel)]="searchKeyword"
                class="form-control search-input search"
                type="search"
                placeholder="Search tours"
                aria-label="Search"
                name="searchKeyword"
                (input)="searchTours(currentStatus)"
              />
              <span class="fas fa-search search-box-icon"></span>
            </form>
          </div>

          <button
            class="btn btn-phoenix-primary px-3"
            (click)="searchTours(currentStatus)"
          >
            <span class="fa-solid fa-search" data-fa-transform="down-2"></span>
          </button>
        </div>
      </div>
      <div class="table-responsive scrollbar mx-n1 px-1">
        <table class="table fs-9 mb-0">
          <thead>
            <tr>
              <th
                class="sort text-body-tertiary align-middle white-space-nowrap"
                scope="col"
                data-sort="name"
                style="width: 300px"
                (click)="sortData('tourName')"
              >
                TOUR NAME
              </th>
              <th
                class="sort text-body-tertiary align-middle px-4"
                scope="col"
                style="width: 200px"
                data-sort="beds"
                (click)="sortData('city')"
              >
                CITY
              </th>
              <th
                class="sort text-body-tertiary align-middle px-4"
                scope="col"
                data-sort="guest"
                style="width: 200px"
                (click)="sortData('duration')"
              >
                DURATION
              </th>
              <th
                class="sort text-body-tertiary align-middle px-4"
                scope="col"
                data-sort="bathRooms"
                style="width: 140px"
                (click)="sortData('created')"
              >
                CREATED
              </th>
              <th
                class="text-body-tertiary align-middle ps-4"
                scope="col"
                data-sort="amenities"
                style="min-width: 450px"
              >
                TOUR ACTIVITIES
              </th>
              <th
                class="sort text-body-tertiary align-middle ps-4 text-end"
                scope="col"
                data-sort="totalRooms"
                style="width: 180px"
                (click)="sortData('personNumber')"
              >
                PERSON NUMBER
              </th>
              <th
                class="sort text-body-tertiary text-end align-middle pe-0 ps-4"
                scope="col"
              ></th>
            </tr>
          </thead>
          <tbody class="list" id="room-listing-table-body">
            <tr
              *ngFor="let tour of getPaginatedTours()"
              class="hover-actions-trigger btn-reveal-trigger position-static"
            >
              <td class="align-middle py-4 name">
                <div class="d-flex align-items-center gap-3">
                  <a [routerLink]="['/admin-tourdetails', tour.tour.tourId]">
                    <img
                      class="rounded-1 border border-translucent"
                      src="/{{ tour.tour.mainImage }}"
                      alt="mainImg"
                      width="80"
                  /></a>
                  <div>
                    <a
                      class="fs-8 fw-bolder text-body-emphasis text-nowrap"
                      href="#!"
                      [routerLink]="['/admin-tourdetails', tour.tour.tourId]"
                      >{{ tour.tour.tourId }}. {{ tour.tour.tourName }}</a
                    >
                    <h6 class="fw-seibold text-body text-nowrap mt-1 mb-2">
                      <span class="fa-solid fa-border-all me-2"></span
                      >{{ tour.category.name }}
                    </h6>
                    <h4 class="fw-bolder mb-0">
                      {{ tour.tour.price | currency : "VND" : "symbol-narrow" }}
                    </h4>
                  </div>
                </div>
              </td>

              <td class="align-middle px-4 beds">
                <div class="d-flex align-items-center">
                  <p class="text-body-emphasis mb-0 me-3">
                    {{ tour.tour.city }}, {{ tour.tour.country }}
                  </p>
                </div>
              </td>

              <td class="align-middle px-4 guest">
                <div class="d-flex align-items-center">
                  <p class="text-body-emphasis mb-0 me-3">
                    {{ tour.tour.duration }}
                  </p>
                </div>
              </td>

              <td class="align-middle px-4 bathRooms">
                <div class="d-flex align-items-center">
                  <div
                    class="d-flex align-items-center justify-content-center bg-danger-subtle rounded me-2"
                    style="height: 24px; width: 24px"
                  >
                    <span class="fa-solid fa-clock text-danger-darker"></span>
                  </div>
                  <h5 class="text-body-emphasis fw-semibold mb-0 me-3">
                    {{ tour.tour.created | date : "dd/MM/yyyy hh:mm" }}
                  </h5>
                </div>
              </td>
              <td class="align-middle ps-4 amenities">
                <div class="d-flex flex-wrap gap-2">
                  <span
                    *ngFor="let activity of tour.activities"
                    class="badge badge-phoenix bg-primary-subtle text-body-highlight py-1 fs-10"
                  >
                    {{ activity.activityName }}
                  </span>
                </div>
              </td>

              <td class="align-middle text-end ps-4 totalRooms">
                <h4 class="text-body-secondary">
                  {{ tour.tour.personNumber }}
                </h4>
              </td>
              <td class="align-middle ps-4">
                <div class="btn-reveal-trigger position-static">
                  <button
                    *ngIf="tour.tour.status === true"
                    class="btn btn-sm btn-danger fs-10"
                    type="button"
                    (click)="onDelete(tour.tour.tourId)"
                  >
                    <span class="fas fa-trash fs-10"></span> Delete
                  </button>
                  <button
                    *ngIf="tour.tour.status === false"
                    class="btn btn-sm btn-success fs-10"
                    type="button"
                    (click)="onRestore(tour.tour.tourId)"
                  >
                    <span class="fas fa-undo fs-10"></span> Restore
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row align-items-center py-2 g-0">
        <div class="pagination d-none"></div>
        <div class="col d-flex fs-9"></div>
        <div class="col-auto d-flex">
          <div class="pagination-controls">
            <button
              class="btn btn-primary"
              [disabled]="currentPage === 1"
              (click)="changePage(currentPage - 1)"
            >
              Previous
            </button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button
              class="btn btn-primary"
              [disabled]="currentPage === totalPages"
              (click)="changePage(currentPage + 1)"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
