<div class="content">
  <nav class="mb-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
      <li class="breadcrumb-item">
        <a href="/admin-tour">List Tour</a>
      </li>
      <li class="breadcrumb-item active">Add Tour</li>
    </ol>
  </nav>
  <form class="mb-9" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="row g-3 flex-between-end mb-5">
      <div class="col-auto">
        <h2 class="mb-2">Add a Tour</h2>
        <h5 class="text-body-tertiary fw-semibold">
          Orders placed across your store
        </h5>
      </div>
      <div class="col-auto">
        <button
          class="btn btn-phoenix-secondary me-2 mb-2 mb-sm-0"
          type="button"
          (click)="discardChanges()"
        >
          Clear form
        </button>
        <button class="btn btn-primary mb-2 mb-sm-0" type="submit">
          Add This Tour
        </button>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-12 col-xl-6">
        <h4 class="mb-3">Tour Name <span class="text-danger">*</span></h4>
        <input
          class="form-control mb-5"
          type="text"
          placeholder="Write title here..."
          [(ngModel)]="tour.tourName"
          name="tourName"
          required
        />

        <h4 class="mb-3">
          Tour Description <span class="text-danger">*</span>
        </h4>
        <textarea
          class="form-control mb-5"
          name="description"
          placeholder="Write a long description here..."
          data-tinymce='{"height":"15rem","placeholder":"Write a description here..."}'
          [(ngModel)]="tour.description"
          required
        ></textarea>

        <h4 class="mb-3">City <span class="text-danger">*</span></h4>
        <input
          class="form-control mb-5"
          type="text"
          placeholder="Enter city..."
          [(ngModel)]="tour.city"
          name="city"
          required
        />

        <h4 class="mb-3">Country <span class="text-danger">*</span></h4>
        <input
          class="form-control mb-5"
          type="text"
          placeholder="Enter country..."
          [(ngModel)]="tour.country"
          name="country"
          required
        />

        <h4 class="mb-3">Duration <span class="text-danger">*</span></h4>
        <input
          class="form-control mb-5"
          type="text"
          placeholder="Enter duration..."
          [(ngModel)]="tour.duration"
          name="duration"
          required
        />

        <h4 class="mb-3">Price <span class="text-danger">*</span></h4>
        <input
          class="form-control mb-5"
          type="number"
          placeholder="Enter price"
          [(ngModel)]="tour.price"
          name="price"
          required
        />

        <h4 class="mb-3">
          Number of People <span class="text-danger">*</span>
        </h4>
        <input
          class="form-control mb-5"
          type="number"
          placeholder="Enter number of people"
          [(ngModel)]="tour.personNumber"
          name="personNumber"
          required
        />

        <div class="mb-5">
          <h4 class="mb-3">Tour Full Day <span class="text-danger">*</span></h4>
          <div class="form-check">
            <input
              class="form-check-input"
              id="isFullDayCheck"
              type="checkbox"
              [(ngModel)]="tour.isFullDay"
              name="isFullDay"
            />
            <label class="form-check-label text-body" for="isFullDayCheck">
              Full Day Tour
            </label>
          </div>
        </div>

        <div class="mb-5">
          <h4 class="mb-3">Tour Status <span class="text-danger">*</span></h4>
          <div class="form-check">
            <input
              class="form-check-input"
              id="statusCheck"
              type="checkbox"
              [(ngModel)]="tour.status"
              name="status"
            />
            <label class="form-check-label text-body" for="statusCheck">
              Active Tour
            </label>
          </div>
        </div>

        <div class="mb-5">
          <h4 class="mb-3">Category <span class="text-danger">*</span></h4>
          <select
            class="form-select mb-5"
            [(ngModel)]="tour.categoryId"
            name="categoryId"
            required
          >
            <option *ngFor="let cate of catelist" [value]="cate.categoryId">
              {{ cate.name }}
            </option>
          </select>
        </div>

        <div class="mb-5">
          <h4 class="mb-3">Date Starts <small class="">(optional)</small></h4>
          <input
            class="form-control mb-5"
            type="date"
            [(ngModel)]="tour.dateStarts"
            name="dateStarts"
          />
          <small class="text-body-tertiary"
            >Leave empty if no start dates.</small
          >
        </div>
        <div class="mb-5">
          <h4 class="mb-3">Activities <small class="">(optional)</small></h4>
          <textarea
            class="form-control mb-5"
            placeholder="Enter activities (comma separated)"
            [(ngModel)]="tour.activities"
            name="activities"
          ></textarea>
          <small class="text-body-tertiary"
            >Leave empty if no activities.</small
          >
        </div>
        <div class="mb-5">
          <h4 class="mb-3">Reviews <small class="">(optional)</small></h4>
          <textarea
            class="form-control mb-5"
            placeholder="Enter reviews (comma separated)"
            [(ngModel)]="tour.reviews"
            name="reviews"
          ></textarea>
          <small class="text-body-tertiary">Leave empty if no reviews.</small>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <!-- Khối Main Image -->
        <h4 class="mb-3">Main Image <small>(optional)</small></h4>
        <input
          type="file"
          class="form-control mb-5"
          (change)="onMainImageChange($event)"
          accept="image/*"
        />
        <div *ngIf="mainImagePreview">
          <h5>Preview:</h5>
          <img
            [src]="mainImagePreview"
            alt="Main Image Preview"
            class="img-fluid"
            style="max-width: 200px; max-height: 200px"
          />
        </div>

        <h4 class="mb-3">Details Images <small>(optional)</small></h4>
        <input
          type="file"
          class="form-control mb-5"
          (change)="onDetailImagesChange($event)"
          accept="image/*"
          multiple
        />
        <div *ngIf="detailImagesPreview.length > 0">
          <h5>Preview:</h5>
          <div *ngFor="let image of detailImagesPreview">
            <img
              [src]="image"
              alt="Detail Image Preview"
              class="img-fluid"
              style="max-width: 200px; max-height: 200px"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
