<div class="container mt-5">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/profile']">History Booking</a></li>
        <li class="breadcrumb-item active" aria-current="page">Feedback</li>
    </ol>
    <h3 class="text-center">Review After Completing the Tour</h3>

    <!-- Review Form -->
    <form (ngSubmit)="onSubmit()" class="small-form">
        <!-- Rating (Select Dropdown) -->
        <div class="form-group">
            <label for="Rating">Rating (1-5)</label>
            <select [(ngModel)]="rating" name="Rating" class="form-control form-control-sm" required>
                <option value="" disabled selected>Select Rating</option>
                <option value="1">1 - Very Poor 😞</option>
                <option value="2">2 - Poor 😒</option>
                <option value="3">3 - Average 😐</option>
                <option value="4">4 - Good 😊</option>
                <option value="5">5 - Excellent 😍</option>
            </select>
        </div>

        <!-- Comment -->
        <div class="form-group">
            <label for="Comment">Comment</label>
            <textarea class="form-control form-control-sm" name="Comment" [(ngModel)]="comment" id="Comment" rows="3"
                placeholder="Write your comment..." required></textarea>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-sm mb-8 mt-4">Submit Review</button>
    </form>
</div>